@import "../../../palette.scss";

.applications {
  max-height: calc(850px - 65px);

  .buttons {
    width: 100%;
    height: 75px;
    padding-top: 25px;
    padding-left: 262px;
  }
  .dashboard {
    width: 100%;
    .naming {
      display: flex;
      width: 100%;
      height: 46px;
      border-bottom: 1px solid $ui2;
      .item {
        display: flex;
        align-items: center;
        & > p {
          padding-left: 16px;
          border-left: 1px solid $ui1;

          font-family: "Ubuntu", sarif;
          font-size: 16px;
        }
        &:first-child {
          & > p {
            border-left: none;
          }
        }
      }
    }
  }
  .listing {
    max-height: calc(850px - 185px);
    position: relative;
    overflow: auto;
  }
}
