@import "../../../../palette.scss";

@mixin title {
  color: $textGray;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
@mixin text {
  color: $textBlack;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 300;
}

@mixin textarea {
  width: 100%;
  resize: none;
  border: 1px solid $ui4;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 300;
  &:focus {
    border: 1px solid $primary;
  }
}

@mixin select {
  display: block;
  width: 100%;
  outline: none;
  padding-left: 8px;
  border: none;
  background: transparent;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 300;
  color: $textDark;
  cursor: pointer;
}

.updateTask {
  position: absolute;
  top: 0;
  right: 0;
  width: 976px;
  border-left: 1px solid $ui3;
  .formTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px 0 38px;
    width: 100%;
    height: 60px;
    background-color: $formTitile;
    .formInfo {
      display: flex;
      align-items: center;
      overflow: hidden;
      & > h2 {
        font-family: "MyriadPro", serif;
        color: $textWhite;
        font-size: 18px;
        font-weight: 400;
        flex-shrink: 0;
        margin-right: 24px;
      }
      & > p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: "Roboto", serif;
        color: $textWhite;
        font-size: 16px;
        font-weight: 300;
        max-width: 581px;
      }
    }
    & > img {
      width: 16px;
      transition: 0.1s linear;
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }
  }
  .formBody {
    display: flex;
    width: 100%;
    height: calc(850px - 125px);
    background-color: $form;
    padding-left: 38px;
    .descriptions {
      width: 698px;
      padding-top: 26px;
      // padding-bottom: 26px;
      flex-shrink: 0;
      padding-right: 32px;
      box-sizing: border-box;

      .descr {
        margin-bottom: 45px;
        & > h3 {
          @include title;
        }
        & > p {
          @include text;
          height: 90px;
        }
      }
      & > textarea {
        @include textarea;
        height: 85px;
        margin-bottom: 15px;
        &::placeholder {
          color: $textGray;
          font-family: "Ubuntu", serif;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .save {
        margin-bottom: 45px;
      }
      .commentaries {
        max-height: 324px;
        overflow-y: auto;
        .comment {
          margin-bottom: 16px;
          .title {
            display: flex;
            align-items: center;
            margin-bottom: 22px;
            .avatar {
              & > img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 11px;
              }
            }
            .misc {
              & > h3 {
                color: $textMediumGray;
                font-family: "Ubuntu", serif;
                font-size: 14px;
                font-weight: 400;
              }
              & > p {
                color: $textMediumGray;
                font-family: "CorporateA";
                font-size: 14px;
              }
            }
          }
          .text {
            padding: 13px 11px 20px;
            margin-left: 51px;
            background-color: $comment;
            border-radius: 6px;
            border: 1px solid $ui3;
          }
        }
      }
    }
    .edits {
      width: 240px;
      flex-shrink: 0;
      padding: 26px 28px;
      border-left: 1px solid $ui3;
      .status {
        display: flex;
        align-items: center;
        margin-bottom: 38px;
        .dot {
          border-radius: 50%;
          width: 12px;
          height: 12px;
          background-color: yellowgreen;
        }
        & > select {
          @include select;
        }
      }
      .issuer,
      .creator,
      .priotity,
      .expiry {
        margin-bottom: 30px;
        & > h3 {
          @include text;
          color: $textGray;
          margin-bottom: 12px;
        }
        & > p {
          @include text;
          color: $textDark;
          margin-bottom: 12px;
        }
        .date {
          display: flex;
          align-items: center;
          & > img {
            width: 18px;
            margin-right: 7px;
          }
        }
      }
      .manager {
        margin-bottom: 30px;
        & > h3 {
          font-family: "Roboto", serif;
          font-size: 14px;
          font-weight: 300;
          color: $textGray;
          margin-bottom: 12px;
        }
        & > select {
          @include select;
          padding-left: 0;
        }
      }
      .tags {
        & > h3 {
          @include text;
          color: $textGray;
          margin-bottom: 12px;
        }
        .tag {
          height: 20px;
          width: fit-content;
          margin-bottom: 5px;
          padding: 0 9px;
          border: 1px solid $tags;
          border-radius: 10px;
          background-color: $textWhite;
          color: $tags;
        }
      }
    }
  }
}
