@import "../../../../palette.scss";

@mixin title {
  padding-left: 5px;
  color: $textGray;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
@mixin text {
  color: $textBlack;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 300;
}

@mixin textarea {
  width: 100%;
  resize: none;
  border: 1px solid $ui4;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  font-family: "Ubuntu", serif;
  font-size: 14px;
  font-weight: 300;
  &:focus {
    border: 1px solid $primary;
  }
}

.updateTask {
  position: fixed;
  top: 65px;
  right: 0;
  width: 976px;
  border-left: 1px solid $ui3;
  .formTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px 0 38px;
    width: 100%;
    height: 60px;
    background-color: $formTitile;
    .formInfo {
      display: flex;
      align-items: center;
      & > h2 {
        font-family: "MyriadPro", serif;
        color: $textWhite;
        font-size: 18px;
        font-weight: 400;
        flex-shrink: 0;
        margin-right: 24px;
      }
      & > p {
        font-family: "Roboto", serif;
        color: $textWhite;
        font-size: 16px;
        font-weight: 300;
        max-width: 581px;
      }
    }
    & > img {
      width: 16px;
      transition: 0.1s linear;
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }
  }
  .formBody {
    display: flex;
    width: 100%;
    height: calc(850px - 125px);
    background-color: $form;
    padding-top: 26px;
    padding-left: 38px;
    .descriptions {
      width: 736px;
      padding-right: 32px;
      .descr {
        margin-bottom: 45px;
        & > h3 {
          @include title;
        }
        & > p {
          @include text;
        }
      }
      & > textarea {
        @include textarea;
        height: 85px;
        margin-bottom: 15px;
        &::placeholder {
          color: $textGray;
          font-family: "Ubuntu", serif;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .save {
        margin-bottom: 45px;
      }
    }
    .statuses {
    }
  }
}
