.container {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  .content {
    width: 1505px;
  }
  .loader {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
