// common

$headerBG: #d1e0ed;
$ui1: #e2e7ea;
$ui2: #dae0e7;
$ui3: #d7dce0;
$ui4: #e8e8e8;
$menu: #002137;
$menuHover: #002c49;
$formTitile: #1a4876;
$form: #ecf3f7;

// buttons & infos

$primary: #008cf0;
$primaryHover: #249aee;
// $primaryActive: #007ad1;
$activated: #1a4876;
$activatedHover: #2a4f75;

// text

$textWhite: #ffffff;
$textDark: #404147;
$textGray: #9f9ea7;
$textBlack: #151616;
