// common

$headerBG: #d1e0ed;
$ui1: #e2e7ea;
$menu: #002137;
$menuHover: #002c49;

// buttons & infos

$primary: #008cf0;
$primaryHover: #249aee;
$primaryActive: #007ad1;

// text

$textWhite: #ffffff;
$textDark: #404147;

